
@font-face{
    font-family: OpenSans;
    src:  url(open-sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSansBold;
    src:  url(open-sans/OpenSans-Bold.ttf);
    font-weight: bold;
}

body
{
    font-family: OpenSans;
}

// img{
//    margin-left: auto;
//  margin-right: auto;
//  }

#navbar > ul > li > a{
    color: white;
}

#dash-red{
    font-family: Arial;
    width: 50%;
    font-size: x-large;
    font-weight: bold;
    border-color: #EE3433;
    border-style: dashed;
    text-align: center;
    color: #EE3433;
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home , .home > container > row > col-sm-4{
    padding: 0px;
}

.home h1, h3{
    font-weight: bold;
}

.home h2, .home > .container-fluid > .container-fluid{
    font-family: Arial;
}

.table-row{
    display: inline-table;
}

.vcenter-col{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.nopadding{
    padding: 0px;
    margin: 0px;
}

.nomarginbottom{
    margin-bottom: 0px;
}

.imagecenter img{
    margin-left: auto;
    margin-right: auto;
}

#home-red{
    background-color: #EE3433;
    color: white;
    text-align: center;
    font-family: Arial:
}

#twentypercent{
    font-size:125px;
    border-top: solid;
    border-width: thick;
}

#voucher-cont{
    background-color: white;
    margin-bottom: 20px;
    width: initial;
    display: table;
    padding: 0px;
}

#voucher-cont > p, #voucher-cont > h6{
    padding: 0px 20px;
}

.reward-cont{
    background-color: #F1F1F2;
    margin-bottom: 20px;
    width: initial;
    display: table;
    padding: 0px;
}

#seemore{
     color: white;
     font-size: xx-large;
     display: block;
     margin-top: 73%;
     text-align: center;
}

#padding > tbody > tr > td{
    padding: 5px;
}

.home-img{
    font-family: OpenSans;
    font-size: large;
    color: white;P
    position: absolute;
    top: 50%;
    left: 40%;
}
.img-200px{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: block;
    width:100%;
    height: 200px;
}

.img-700px{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    text-align: center;
}

.img-700px:hover .overlay{
    background-color:rgba(152, 26, 53, 0.5);
    width: 25%;
    height:700px;
    position:absolute;
    cursor: pointer;
}

.menu-cont{
    width: initial;
}

.menu-cont p, .menu-cont a{
   font-family: Arial;
   margin-bottom: 5px;
}

.sig-dish-img{
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
    background-repeat: no-repeat
}

#img-container-id{
        display: flex;
        background-color: black;
}

.img-700px > .overlay > a{
    position: relative;
    top: 357px;
    color: white;
    font-family: OpenSans;
    font-size: x-large;
}

#menu-style{
    font-size: xx-large;
    background-color: rgba(35,31,34, 0.5);
    position: absolute;
    top: 75%;
    color: white;
    width: 100%;
    height: 25%;
    text-align: center;
    padding-top: 2%;
}

.breadcrumb_container > ol, .breadcrumb_container > ol > li:first-child > a{
    color: red;
    font-family: Arial;
    background-color: white;
    margin:0px;
}

 // .breadcrumb_container > ol > li:first-child > a{
 //    margin-right: 50%;
 //    margin-left: 0%;
 // }

.aboutus-header{
    text-align: center;
    color: white;
    height: 236px;
    background-size: cover;
    background-position: center;
}

.aboutus-header h1, .aboutus-header p{
    position: relative;
    top: 55px;
}

.menu1-header{
    background-image: url(../images/menu1-header.png);
    background-position: center;
    text-align: center;
    color: white;
    height: 236px;
}

.menu1-header h1, .menu1-header p{
    position: relative;
    top: 55px;
}

.breadcrumb_container > ol > li > a{
    color: red;
    font-family: Arial;
    background-color: white;
    margin-right: 20%;
    margin-left: 15%;
}

.board-director h4{
    color: #AEAFB0;
}

.paragraph{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

.pagination > .active > span {
    background-color: #EE3433;
}

.pagination > li > a {
    color: #EE3433;
}

.my-col-2{
    width: 17.666667%;
}

.p-smaller > p{
    font-size: smaller; 
    padding: 0px;
    margin: 0px;
}

.news-feed{
    font-family: Arial;
}

.news-feed-col{
    border: solid; 
    border-color: #CCCCCC; 
    margin: 0px 15px 15px; 
    border-width: thin; 
    width: 392px; 
    max-width: 100%;
    position: relative;
    display: block;
}

.comment-table a{
    color: #A7A9AC;
    font-weight: bold;
    margin-left: 15%;
}

#gallery-col{
    display: inline-block;
    left: 53px;
    position: relative;
}

.masonry{
    column-count: 4;
    column-gap: 1em;
    -webkit-column-width: 20em;
}

.news-feed-item{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    border: solid;
    border-width: thin;
    border-color: #CCCCCC;
}

.news-feed-detail{
    top: 150px;
}

.comment{
    font-family: Arial;
    color: black;
}

.menu-detail h6{
    font-size: x-large;
    font-family: OpenSansBold;
}

.menu-detail button, .menu-btn, .btn-style{
    color: black;
    background-color: white;
    border: solid;
    border-width: thin;
    border-color: #CCCCCC; 
    text-align: center;
    width: 49%
}

.remark-tb td{
    border: solid;
    border-width: thin;
    border-color: #CCCCCC;
    width: 100%;
    color: black;
    padding: 1%;
}

.addOn-tb, .cafe-list{
    width: 100%;
    color: black;
    border: solid;
    border-color: #CCCCCC;
    border-width: thin;
}

.addOn-tb th, .addOn-tb td, .cafe-list td{
    padding: 1%
}
.addOn-tb th, #grey, {
    background-color: #F1F1F2
} 

.cafe-list > tbody > tr:nth-child(odd){
    background-color: #F1F1F2
}
.addOn-tb th{
    border-bottom: solid;
    border-width: thin;
    border-color: #CCCCCC;
}

#no-border-right{
    border-right: none;
}

.color4d p{
    color: #4D4D4D;
}

ul.pagination{
    margin:0px 0px 15px;
}

#price-font{
    float: right; 
    color: red; 
    font-size: xx-large; 
    font-family: Arial; 
    font-weight: normal;
}

.promo-row{
    background-color: #261002; 
    padding: 0px; 
    width: 83%; 
    margin-left: auto;
    margin-right: auto
}

.chef > img{
    margin-left: auto;
    margin-right: auto;
}

.footer-area{
    font-family: Arial;
    background-color: #313332;
    color: white;
    display: flex;
    align-items: center;
    overflow: inherit;
}

.footer-area h3{
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 20px;
}

.footer-area p{
    margin-bottom: auto;
    font-size: small;
}

.footer-area a{
    color: white;
}

.footer-area hr{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 40px;
    border-color: #808080;
}

.footer-area .table{
    width: 100%;
}

.footer-area .table > tbody > tr:first-child > td{
    border: none;
}

.footer-area .table > tbody > tr > td{
    border-color: #808080;
}

.footer-area .table .borderless > tr > td{
    border: none;
    padding: 0px;
    margin-bottom: 5px;
}

.footer-area .table .borderless > tr > td > p{
    margin-bottom: 10px;
    margin-left: 2px;
}

.contact-info > tr >td{
    padding:1%
}

.contact-info > tr >td{
    padding-bottom: 0px;
    color: #231F20;
    line-height: 15px;
}

.quick-link{
    margin-left: 5px;
}
.quick-link i{
    color: red;
    margin-right: 20px;
}
.btn-social-icon ul {
	overflow: auto;
    padding-left: 15px;
}

.btn-social-icon ul li {
	list-style-type: none;
	float: left;
}

.btn-social-icon ul li a i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

.fa-facebook {
	background:#3b5998
}
.fa-instagram {
	background:
    linear-gradient( #400080, transparent),

   linear-gradient(
   200deg, #d047d1, #ff0000,    #ffff00);

}
.fa-twitter {
	background:#00aced
}
.fa-google-plus {
	background:#d34836
}

.modal.and.carousel {
  position: absolute; // Needed because the carousel overrides the position property
}
@media only screen and (max-width: 767px) {
    .home h1{
        font-size: 30px;
    }

    .home h5, #seemore{
        font-size: x-large;
        font-family: OpenSans;
        color: white;
        margin-top: 15px;

    }

    #dash-red{
        font-family: Arial;
        width: 85%;
        font-size: large;
        font-weight: bold;
        border-color: #EE3433;
        border-style: dashed;
        text-align: center;
        color: #EE3433;
        border-width: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #twentypercent{
        font-size:90px;
        border-top: solid;
        border-width: thick;
    }


    #menu-style{
        font-size: large;
        background-color: rgba(35,31,34, 0.5);
        position: absolute;
        top: 76%;
        color: white;
        height: 25%;
        text-align: center;
        padding-top: 2%;
    }

    .img-700px{
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: center;
        height: 280px;
    }

    #img-container-id{
        display: initial;
        background-color: black;
    }

    .img-700px > .overlay > a{
        position: relative;
        top: 128px;
    }


    .img-700px:hover .overlay{
        background-color:rgba(152, 26, 53, 0.5);
        width:100%;
        height:280px;
        position:relative;
    }

    .menu-cont{
        width: initial;
        padding: 0px;
        margin:0px;
    }

    .menu-cont p, .menu-cont h4{
       font-family: Arial;
       margin-bottom: 5px;
       margin-left: 10px;
    }

    .m-nopadding{
        padding: 0px;
    }

    #gallery-col{
    display: inline;
    left: 0px;
    position: relative;
    }

    .imagecenter img {
    margin-left: auto;
    margin-right: auto;
    }

    #price-font{
        font-size: large;
        color: red;
        font-weight: normal;
    }

    .menu-detail h6{
        font-size: medium;
        padding: 0px;
    }

    .promo-row{
        width: initial;
    }

    .news-feed-detail{
    top: 0px;
    }

    .row-tb{
        display: table;
    }
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1290px) and (orientation: landscape){
    #menu-style{
        font-size: large;
    }
}